.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* ============Common margin, padding width============ */

.header {
  max-width: 1536px;
  height: 603px;
  background-image: url(../images/developer.png);
  background-repeat: no-repeat;
  background-size: 160px 500px;
  background-position: top left;
}
main {
  max-width: 1094.4px;
  margin: 0 auto;
}

main section {
  margin-top: 126px;
  margin-bottom: 126px;
}
footer {
  max-width: 1536px;
  height: auto;
}
/* ============Shared Styles============ */
.secondary-bg {
  background-color: rgb(255, 248, 243);
}
.text-primary {
  color: rgb(253, 110, 10);
}

.dark-1 {
  color: rgb(71, 71, 71);
}

.dark-2 {
  color: rgb(117, 117, 117);
}
.menu-font {
  font-size: 19.2px;
  font-weight: 384px;
}

.btn-primary {
  width: 155px;
  height: 61.44px;
  border: none;
  border-radius: 5px;
  background: rgb(253, 110, 10);

  color: rgb(255, 255, 255);
  font-size: 19.2px;
  font-weight: 672;
}

.section-description {
  font-size: 17px;
  font-weight: 400;
  color: rgb(117, 117, 117);
  text-align: center;
}

.section-description-left-align {
  font-size: 17px;
  font-weight: 400;
  color: rgb(117, 117, 117);
}

.section-title {
  color: rgb(24, 24, 24);
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.section-subtitle {
  color: rgb(24, 24, 24);
  font-size: 20px;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

/* ============Nav Styles============ */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 230px;
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
}

nav ul li {
  list-style: none;
  margin-right: 48px;
}
nav li a {
  text-decoration: none;
}

nav ul {
  display: flex;
  align-items: center;
}

/* ============Banner Styles============ */

.banner {
  display: flex;
  justify-content: space-between;
}
.banner-content {
  width: 560px;
  margin-left: 230px;
}
.banner-profile-photo {
  max-width: 22%;
  height: 22%;
  margin-top: 35px;
  margin-right: 200px;
}

.banner-greetings {
  font-size: 35px;
  font-weight: 576;
  color: rgb(71, 71, 71);
  margin-bottom: 5px;
}
.banner-title {
  font-size: 60px;
  font-weight: 672;
  margin-top: 0px;
  margin-bottom: 18px;
}
.btn-download {
  width: 192px;
  height: 64px;
}

.btn-contact {
  border: 1px solid;
  width: 160px;
  height: 64px;
  background: rgb(255, 248, 243);

  color: rgb(253, 110, 10);
  font-size: 20px;
  font-weight: 700;
}

.banner-description {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 28px;
}

/* ============About Styles============ */

.about {
  border-radius: 10px;
  padding: 118px 140px;
  text-align: center;
}

.about-container {
  border: 1px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.item-title {
  font-size: 17px;
  font-weight: 400;
  color: rgb(117, 117, 117);
}

.item-description {
  color: rgb(117, 117, 117);
  font-size: 20px;
  font-weight: 700;
}

.about-items {
  display: flex;
  justify-content: space-around;
}

.about-container .section-description {
  margin-bottom: 30px;
}
/* ============What I Do Styles============ */

.skills-container {
  display: flex;
  gap: 23px;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}

/* ============A summary of My Resume Styles============ */

.resume-container {
  display: flex;
  gap: 23px;
}

.resume-column-title {
  color: rgb(71, 71, 71);
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 30px;
}

.experience-title {
  color: rgb(71, 71, 71);
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}

.experience-sub-title {
  color: rgb(117, 117, 117);
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
}

.experience-description {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 27px;
}

.btn-cv-download {
  margin-top: 30px;
}

/* ============Footer Styles============ */

.footer-column-title {
  color: rgb(24, 24, 24);
  font-size: 35px;
  font-weight: 700;
}

.footer-column-description {
  color: rgb(71, 71, 71);
  font-size: 16px;
  font-weight: 400;
}

footer {
  padding: 130px 230px;
  display: flex;
  gap: 112px;
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
  display: block;
  width: 461px;
  height: 64px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  border: none;

  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 24px;
}
